.navbar {
  -webkit-box-shadow: -2px 3px 5px 0px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: -2px 3px 5px 0px rgba(0, 0, 0, 0.56);
  box-shadow: -2px 3px 5px 0px rgba(0, 0, 0, 0.56); }
  .navbar .content {
    display: flex;
    justify-content: flex-end;
    width: 100%; }
